@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #f7ecc0 0.89%,
    #fcebae 17.23%,
    #f5e28e 42.04%,
    #f1ef71 55.12%,
    #ece147 71.54%,
    #ffcc00 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    /* #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29% */
    #f7ecc0 0.89%,
    #fcebae 17.23%,
    #f5e28e 42.04%,
    #f1ef71 55.12%,
    #ece147 71.54%,
    #ffcc00 100%

  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {

  background: var(--black-gradient);
}

.domain-card {
  background: #c5a1cf;

}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  /* background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #ffcc00 100%); */
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}


/* form.css */

form {
  width: 450px;
  margin: 0 auto;
  padding: 20px;
  border: 3px solid #ffcc00;
  border-radius: 8px;
  background: #fff;
  /* background-image: url(../../assets/images/NewImages/stack-old-books-wooden-table-generated-by-ai\ mobile.png); */
}

label {
  display: block;
  margin-bottom: 8px;
  color: #000;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 100px;
  font-size: 16px;
}

button {
  background-color: black;
  color: black;
  padding: 10px 170px;
  /* width: 50%; */
  border: 2px solid #ffcc00;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  /* transition: background-color 0.3s; */
}

button:hover {
  background-color: #ffcc00;
}

/* Gallery */


.container {
  overflow: hidden;
  white-space: nowrap;
}

.container:after {
  clear: both;
  display: table;
  content: '';
}

.image-bg {
  padding: 20px;
  width: 240px;
  height: 160px;
  margin: 20px;
  float: left;
  cursor: pointer;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.image:hover {
  transform: scale(1.1);
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image {
  width: 240px;
  height: 160px;
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease;


  > div {
    &:nth-child(1) {
      top: 0;
      background-position-y: 0;
    }
    &:nth-child(2) {
      top: 40px;
      background-position-y: -40px;
    }
    &:nth-child(3) {
      top: 80px;
      background-position-y: -80px;
    }
    &:nth-child(4) {
      top: 120px;
      background-position-y: -120px;
    }
  }

  /** effectOne **/
  &[data-effect='effectOne'] {
    background-image: url('https://picsum.photos/240/160/?image=1011');
    > div {
      position: absolute;
      width: inherit;
      height: 40px;
      background-image: url('https://picsum.photos/240/160/?image=999');
      left: 100%;
      transition: left 1s linear;
    }
  }

  /** effectTwo **/
  &[data-effect='effectTwo'] {
    background-image: url('https://picsum.photos/240/160/?image=1043');
    > div {
      position: absolute;
      width: inherit;
      height: 40px;
      background-image: url('https://picsum.photos/240/160/?image=1015');
      transition: left 1s linear;
    }
  }
  &[data-effect='effectThree'] {
    background-image: url('https://picsum.photos/240/160/?image=1043');
    > div {
      position: absolute;
      width: inherit;
      height: 40px;
      background-image: url('https://picsum.photos/240/160/?image=1015');
      transition: left 1s linear;
    }
  }
  &[data-effect='effectFour'] {
    background-image: url('https://picsum.photos/240/160/?image=1043');
    > div {
      position: absolute;
      width: inherit;
      height: 40px;
      background-image: url('https://picsum.photos/240/160/?image=1015');
      transition: left 1s linear;
    }
  }
  &[data-effect='effectFive'] {
    background-image: url('https://picsum.photos/240/160/?image=1043');
    > div {
      position: absolute;
      width: inherit;
      height: 40px;
      background-image: url('https://picsum.photos/240/160/?image=1015');
      transition: left 1s linear;
    }
  }

}

.scrolling-container {
  overflow: hidden;
  animation: scrollBottomToTop 50s linear infinite;
}
@keyframes scrollBottomToTop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}